doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Caballeria
        meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
        meta(name='description', content='Joel Gonzales Tipismana Full-Stack Web Developer, Emprendedor, Co-Fundador y CEO de @TeamCromlu, youtuber @rktecnology. HTML5, CSS3, JavaScript, ECS6, BackboneJS, NodeJS, MongoDB')
        // Esstilos Enlaces CSS
        link(rel='icon', type='image/png', href='../images/favicon.png')
        link(rel='stylesheet', type='text/css', href='../css/index.css')
        link(rel='stylesheet', type='text/css', href='../css/modal/index.css')
    
    body#App_Container
        div(class="App_Container__box")

            // Header Main
            header(clasS="HeaderMain")
                div(class="HeaderMain__box")

                    // Header Main Top
                    div(class="HeaderMain__top")
                        div(class="HeaderMain__top__left")
                          div(class="HeaderMain__top__left--logo")
                              h2 Caballeria

                          div(class="HeaderMain__top__left--search")
                              input(id="txt_box_search", type='text', placeholder='Buscar socio por nombre o DNI')
                              button#btn_box_search  Buscar

                      div(class="HeaderMain__top__right")
                          div(class="HeaderMain__top__right--avatar")
                              img(src="../../../../images/default.jpg", width="30")

                    // Header Main Breadgrunps
                    div(class="HeaderMain__breadgruns")
                       div(class="HeaderMain__breadgruns__left")
                           div(class="HeaderMain__breadgruns__left--sub-title")
                               span Socios
                           div(class="HeaderMain__breadgruns__left--variable-route")
                               span > #{result.nombres}



            section(class="SocioInfo")
                article(class="SocioInfo__perfil")
                    div(class="SocioInfo__perfil__avatar")
                      img(src="../../../../images/default.jpg")

                    div(class="SocioInfo__perfil__personal")
                      div(class="SocioInfo__perfil__personal--top")
                        div
                          h3 #{result.nombres}
                        div
                          span ==>
                        div
                          p situacion

                      div(class="SocioInfo__perfil__personal--bottom")
                        div(class="SocioInfo__perfil__personal--bottom__left")
                            div(class="SocioInfo__perfil__personal--bottom__left--item")
                              label Fecha de Ingreso:
                              p #{result.fecha_ingreso}
                            div(class="SocioInfo__perfil__personal--bottom__left--item")
                              label DNI:
                              p #{result.dni}
                            div(class="SocioInfo__perfil__personal--bottom__left--item")
                              label Profesión:
                              p #{result.arma}
                            div(class="SocioInfo__perfil__personal--bottom__left--item")
                              label Organización:
                              p #{result.dni}
                            div(class="SocioInfo__perfil__personal--bottom__left--item")
                              label Situación de Trabajo:
                              p #{result.arma}

                        div(class="SocioInfo__perfil__personal--bottom__right")
                            div(class="SocioInfo__perfil__personal--bottom__right--item")
                              label Tipo de Socio:
                              p #{result.cip}
                            div(class="SocioInfo__perfil__personal--bottom__right--item")
                              label Fecha de Nacimiento:
                              p #{result.onomastico}
                            div(class="SocioInfo__perfil__personal--bottom__right--item")
                              label Carta Declaratoria:
                              p #{result.email}
                            div(class="SocioInfo__perfil__personal--bottom__right--item")
                              label Tipo de Pago:
                              p #{result.cip}
                            div(class="SocioInfo__perfil__personal--bottom__right--item")
                              label Carta Declaratoria:
                              p #{result.arma}

                article(class="SocioInfo__datos")

                  div(class="SocioInfo__datos--Datos-de-Contacto")
                    div(class="SocioInfo__datos--Datos-de-Contacto--title")
                      h4 Datos de Contacto

                    div(class="SocioInfo__datos--Datos-de-Contacto--content")
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Tipo de Socio:
                            p #{result.cip}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Fecha de Nacimiento:
                            p #{result.onomastico}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Carta Declaratoria:
                            p #{result.email}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Tipo de Pago:
                            p #{result.cip}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Carta Declaratoria:
                            p #{result.arma}

                  div(class="SocioInfo__datos--Datos-del-Conyuge")
                      div(class="SocioInfo__datos--Datos-del-Conyuge--title")
                        h4 Datos del Conyuge

                      div(class="SocioInfo__datos--Datos-del-Conyuge--content")
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Tipo de Socio:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Fecha de Nacimiento:
                              p #{result.onomastico}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Carta Declaratoria:
                              p #{result.email}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Tipo de Pago:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Carta Declaratoria:
                              p #{result.arma}
  
                  div(class="SocioInfo__datos--Datos-del-Afiliado")
                    div(class="SocioInfo__datos--Datos-del-Afiliado--title")
                       h4 Datos del Afiliado
                        
                      div(class="SocioInfo__datos--Datos-del-Afiliado--content")
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Tipo de Socio:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Fecha de Nacimiento:
                              p #{result.onomastico}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Carta Declaratoria:
                              p #{result.email}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Tipo de Pago:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Carta Declaratoria:
                              p #{result.arma}

                  div(class="SocioInfo__datos--Datos-de-Pagos")
                    div(class="SocioInfo__datos--Datos-de-Pagos--title")
                       h4 Datos de Pagos
                        
                      div(class="SocioInfo__datos--Datos-de-Pagos--content")
                            div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
                              label Tipo de Socio:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
                              label Fecha de Nacimiento:
                              p #{result.onomastico}
                            div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
                              label Carta Declaratoria:
                              p #{result.email}
                            div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
                              label Tipo de Pago:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
                              label Carta Declaratoria:
                              p #{result.arma}

            
        // Enlaces Script JS
        script(src='../js/vendor/jquery.min.js')
