doctype html
html(lang='es')
    head
      meta(charset='UTF-8')
      title Legión Caballería
      meta(name='description', content='Joel Gonzales Tipismana Full-Stack Web Developer, Emprendedor, Co-Fundador y CEO de @TeamCromlu, youtuber @rktecnology. HTML5, CSS3, JavaScript, ECS6, BackboneJS, NodeJS, MongoDB')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
      //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      link(rel='stylesheet', href='/style/style.css')
    
    body#App_Container
      .App_Container__box
        nav.Header
          .nav-wrapper.Header__container.white
            a.Header__container--title.Logo.left.black-text(href='/') Legión Caballería
            div.Header__container--search
              input#txt_box_search(type='search', required='', placeholder="Buscar socio por nombre o DNI")
              button.grey.darken-2#btn_box_search
                i.material-icons search

            div.Header__container--avatar.right
              img.responsive-img.circle(width='40', src='/images/default.jpg', alt='')
        .main-container
          .main-container__box
            nav.SubHeader.grey.darken-2
              .SubHeader__box
                .SubHeader__box--list
                  .linkRoute Socios | 
                    span.HeaderMain__breadgruns__left--variable-route #usuarios
                    .fa-chevron-right.right
                      i.material-icons keyboard_arrow_right
                  .linkRoute #{result.nombres}
                    .fa-chevron-right.right
                      i.material-icons keyboard_arrow_right
                .SubHeader__box--icons
                  .Icons
                    .Icons__item.btn_change_order
                      i.material-icons filter_list
                    .Icons__item
                      .dropdown-button(data-activates='dropdown1')
                        i.material-icons more_vert
                      ul#dropdown1.dropdown-content
                        li
                          a(href='#!') texto

            //- section(class="SocioInfo")
            //-     article(class="SocioInfo__perfil")
            //-         div(class="SocioInfo__perfil__avatar")
            //-           img(src="../../../../images/default.jpg")

            //-         div(class="SocioInfo__perfil__personal")

            //-           div(class="SocioInfo__perfil__personal--bottom")
            //-             div(class="SocioInfo__perfil__personal--bottom__left")
            //-                 div(class="SocioInfo__perfil__personal--bottom__left--item")
            //-                   label Fecha de Ingreso:
            //-                   p #{result.fecha_ingreso}
            //-                 div(class="SocioInfo__perfil__personal--bottom__left--item")
            //-                   label DNI:
            //-                   p #{result.dni}
            //-                 div(class="SocioInfo__perfil__personal--bottom__left--item")
            //-                   label Profesión:
            //-                   p #{result.arma}
            //-                 div(class="SocioInfo__perfil__personal--bottom__left--item")
            //-                   label Organización:
            //-                   p #{result.dni}
            //-                 div(class="SocioInfo__perfil__personal--bottom__left--item")
            //-                   label Situación de Trabajo:
            //-                   p #{result.arma}

            //-             div(class="SocioInfo__perfil__personal--bottom__right")
            //-                 div(class="SocioInfo__perfil__personal--bottom__right--item")
            //-                   label Tipo de Socio:
            //-                   p #{result.cip}
            //-                 div(class="SocioInfo__perfil__personal--bottom__right--item")
            //-                   label Fecha de Nacimiento:
            //-                   p #{result.onomastico}
            //-                 div(class="SocioInfo__perfil__personal--bottom__right--item")
            //-                   label Carta Declaratoria:
            //-                   p #{result.email}
            //-                 div(class="SocioInfo__perfil__personal--bottom__right--item")
            //-                   label Tipo de Pago:
            //-                   p #{result.cip}
            //-                 div(class="SocioInfo__perfil__personal--bottom__right--item")
            //-                   label Carta Declaratoria:
            //-                   p #{result.arma}

            //-     article(class="SocioInfo__datos")

            //-       div(class="SocioInfo__datos--Datos-de-Contacto")
            //-         div(class="SocioInfo__datos--Datos-de-Contacto--title")
            //-           h4 Datos de Contacto

            //-         div(class="SocioInfo__datos--Datos-de-Contacto--content")
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Tipo de Socio:
                            p #{result.cip}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Fecha de Nacimiento:
                            p #{result.onomastico}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Carta Declaratoria:
                            p #{result.email}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Tipo de Pago:
                            p #{result.cip}
                          div(class="SocioInfo__datos--Datos-de-Contacto--content--item")
                            label Carta Declaratoria:
                            p #{result.arma}

            //-       div(class="SocioInfo__datos--Datos-del-Conyuge")
            //-           div(class="SocioInfo__datos--Datos-del-Conyuge--title")
            //-             h4 Datos del Conyuge

            //-           div(class="SocioInfo__datos--Datos-del-Conyuge--content")
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Tipo de Socio:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Fecha de Nacimiento:
                              p #{result.onomastico}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Carta Declaratoria:
                              p #{result.email}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Tipo de Pago:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Conyuge--content--item")
                              label Carta Declaratoria:
                              p #{result.arma}

            //-       div(class="SocioInfo__datos--Datos-del-Afiliado")
            //-         div(class="SocioInfo__datos--Datos-del-Afiliado--title")
            //-            h4 Datos del Afiliado
                        
            //-           div(class="SocioInfo__datos--Datos-del-Afiliado--content")
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Tipo de Socio:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Fecha de Nacimiento:
                              p #{result.onomastico}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Carta Declaratoria:
                              p #{result.email}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Tipo de Pago:
                              p #{result.cip}
                            div(class="SocioInfo__datos--Datos-del-Afiliado--content--item")
                              label Carta Declaratoria:
                              p #{result.arma}

            //-       div(class="SocioInfo__datos--Datos-de-Pagos")
            //-         div(class="SocioInfo__datos--Datos-de-Pagos--title")
            //-            h4 Datos de Pagos
                        
            //-            div(class="SocioInfo__datos--Datos-de-Pagos--content")
            //-                 div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
            //-                   label Tipo de Socio:
            //-                   p #{result.cip}
            //-                 div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
            //-                   label Fecha de Nacimiento:
            //-                   p #{result.onomastico}
            //-                 div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
            //-                   label Carta Declaratoria:
            //-                   p #{result.email}
            //-                 div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
            //-                   label Tipo de Pago:
            //-                   p #{result.cip}
            //-                 div(class="SocioInfo__datos--Datos-de-Pagos--content--item")
            //-                   label Carta Declaratoria:
            //-                   p #{result.arma}
            .Content(style="overflow:auto")
              .UserContent.row(style="width:100%")
                .UserContent__box.col.s12.m8.offset-m2.l6.offset-l3
                  .ShowUserInfo
                    .ShowUserInfo__box
                      .ShowUserInfo__box--avatar
                        img.responsive-img.circle(src="/images/default.jpg", width="100")
                      .ShowUserInfo__box--info
                        .Info
                          .Info__title
                            h3 #{result.nombres}
                          .Info__tag
                            span
                              i.material-icons.tag label
                          .Info__situation 
                            .btn.grey.lighten-2.grey-text.text-darken-4 Situacion
                          .Info__ShowMoreInfo
                            .Info__ShowMoreInfo--left
                              .Data
                                p.Data__left Fecha de Ingreso:
                                  span.Data__right #{result.fecha_ingreso}
                              .Data
                                p.Data__left DNI:
                                  span.Data__right #{result.dni}
                              .Data
                                p.Data__left Profesión:
                                  span.Data__right #{result.arma}
                              .Data
                                p.Data__left Organización:
                                  span.Data__right #{result.dni}
                              .Data
                                p.Data__left Situación de Trabajo:
                                  span.Data__right #{result.arma}
                            .Info__ShowMoreInfo--left
                              .Data
                                p.Data__left Tipo de Socio:
                                  span.Data__right #{result.cip}
                              .Data
                                p.Data__left Fecha de Nacimiento:
                                  span.Data__right #{result.onomastico}
                              .Data
                                p.Data__left Carta Declaratoria:
                                  span.Data__right #{result.email}
                              .Data
                                p.Data__left Tipo de Pago:
                                  span.Data__right #{result.cip}
                              .Data
                                p.Data__left Carta Declaratoria:
                                  span.Data__right #{result.arma}
                  ul.MoreInfoUser.collapsible.popout(data-collapsible='accordion')
                    li.MoreInfoUser__box
                      .MoreInfoUser__box--title.collapsible-header
                        | Datos de Contacto
                        .span.right
                          i.material-icons mode_edit
                      .collapsible-body
                        p Lorem ipsum dolor sit amet.
                    li.MoreInfoUser__box
                      .MoreInfoUser__box--title.collapsible-header
                        | Datos de Cónyugue
                        .span.right
                          i.material-icons mode_edit
                      .collapsible-body
                        p Lorem ipsum dolor sit amet.
                    li.MoreInfoUser__box
                      .MoreInfoUser__box--title.collapsible-header
                        | Dtos de Afiliados
                        .span.right
                          i.material-icons mode_edit
                      .collapsible-body
                        p Lorem ipsum dolor sit amet.
                    li.MoreInfoUser__box
                      .MoreInfoUser__box--title.collapsible-header
                        | Historial de Pagos
                        .span.right
                          i.material-icons mode_edit
                      .collapsible-body
                        p Lorem ipsum dolor sit amet.

            
        //- Enlaces Script JS
      script(src='/js/vendor/jquery.min.js')
      script(src='/js/vendor/materialize.min.js')
      script(src='/js/index.js')
